# - We use a sha1 rev to avoid labels getting moved unexpectedly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: a113f03edeabb71305f025e6e14bd2cd68660e29 # v0.13.1
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
